<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newBurger="{{burger}}">
		{{#if burgers}}Looks Yummy!{{else}}Finished them all!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
