<li>
	{{name}}

	<button class="changed-devoured" data-id="{{id}}" data-justDevoured="{{devoured}}">
		{{#if devoured}}Ate All Of Them!{{/if}}
	</button>
	<button class="changed-addBurger" data-id="{{id}}" data-addBurger="{{addBurger}}">
		{{#if addBurger}}Looks yummy!{{/if}}
	</button>
</li>
