<li>
	{{burger_name}}
	<button class="change-devoured" data-id="{{id}}" data-newBurger="{{is_devoured}}">
		{{#if is_devoured}}Looks Yummy!{{else}}Time to Eat!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
